.leftBlock {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 25px;
  width: 400px;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
}

.paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
