.leftBlock {
    background-color: white;
    padding: 48px;
    width: 773px;
}

.paragraph {
    color: rgba(119, 56, 68, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
}

.title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}